extends layout/template.pug 

block body 
    include layout/navbar.pug
    .container-fluid.m-0.p-0
        .div.page-section.your-caring-providers
            img(src="/assets/truck.jpg" width="100%" height="56%")
            h2.text-light YOUR CARING PROPANE PROVIDERS