extends layout.pug 

block body 
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        .container-fluid
            a.navbar-brand(href="#") Myers Propane Logo

            button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarSupportedContent")
                span.navbar-toggler-icon

            .collapse.navbar-collapse.d-flex.flex-row.justify-content-between(id="navbarSupportedContent")

                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href="#") Home 

                    li.nav-item
                        a.nav-link(href="#") Contact

                    li.nav-item
                        a.nav-link.disabled(href="#") Sign Up Now

                form.d-flex
                    button.btn.btn-success(type="submit") Pay Your Bill
