extends layout/admin/admin-template.pug 

block body 
    .admin-page.d-flex.flex-column.justify-content-center(id="login-form")
        .row 
            .col-1.col-lg-4
            .col-10.col-lg-4.admin-form
                h3.text-center Admin Login
                form.d-flex.flex-column.mt-3(id="login-form")
                    .mb-3 
                        label.form-label(for="email") Email address 
                        input.form-control(id="email" type="email" v-bind:value="email" @input="updateEmail" v-bind:class="emailErr.classes")
                        .invalid-feedback You must enter an email address
                    .mb-3 
                        label.form-label(for="password") Password 
                        input.form-control(id="password" type="password" v-bind:value="plaintext" @input="updatePlaintext" v-bind:class="plaintextErr.classes")
                        .invalid-feedback You must enter a password
                    button.btn.btn-primary(type="submit" @click="submit" v-bind:disabled="formLoading") 
                        .spinner-border.spinner-border-sm(v-if="formLoading")
                        span(v-else) Submit
                    a.link-secondary.text-center.mt-3(href="#") Forgot your password?
            .col-1.col-lg-4
    script(type="module", src="/js/views/login.js")