nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        .container-fluid
            a.navbar-brand(href="/admin/settings") Site Administration

            button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarSupportedContent")
                span.navbar-toggler-icon

            .collapse.navbar-collapse.d-flex.flex-row.justify-content-between(id="navbarSupportedContent")

                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link.active(href="/admin/settings") Site Settings 

                    li.nav-item
                        a.nav-link.disabled(href="#") Content

                    li.nav-item
                        a.nav-link.disabled(href="#") Users

                button.btn.btn-danger.btn-sm(@click="logOut") Log Out